
<body>
<!-- Шапка сайта -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">OnlineEd</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>

                    <li th:if="${authenticated}"  class="nav-item">
                        <a class="nav-link" th:href="@{/profile}" >Мой профиль</a>
                    </li>
                    <li th:unless="${authenticated}"  class="nav-item">
                        <a class="nav-link" th:href="@{/login}" >Вход</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
