<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >OnlineEd - Название Курса</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="style2.css">-->
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<!-- Главный контент -->
<main>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="mb-4" th:text="${course.title}">Название Курса</h1>
                    <p class="lead" th:text="${course.description}">Описание курса. Здесь вы можете узнать больше о содержании и особенностях этого курса.</p>
                    <p>Преподаватель: <span th:text="${teacher.name + teacher.surname}">Имя Преподавателя</span></p>
                    <p>Дата начала: <span th:text="${#dates.format(course.createdAt, 'dd/MM/yyyy')}">DD/MM/YYYY</span></p>

                    <h2 class="mt-4">Уроки курса</h2>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="lesson : ${lessons}">
                            <h5 th:text="${lesson.title}">Название урока</h5>
                            <p th:text="${lesson.description}">Описание урока</p>
                            <span th:if="${userSubscribed}">
                                 <a type="button" class="btn btn-primary btn-sm" th:href="@{/lesson/{id}(id=${lesson.id})}">Show</a>
                            </span>

                        </li>
                    </ul>
                </div>
                <div th:unless="${userSubscribed}" class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Присоединиться к курсу</h5>
                            <form th:action="@{/subscribe}" method="post">
                                <div style="display:none"><label> User Name : <input type="text" name="courseId" th:value="${course.id}"/> </label></div>
                                <div><input class="btn btn-primary btn-block" type="submit" value="Присоединиться"/></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
