<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/header}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineEd - Учись где угодно</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!-- Главный контент -->
<main>
    <section class="py-5">
        <div class="container">
            <h1 class="text-center mb-4">Добро пожаловать в OnlineEd</h1>
            <h1 class="text-center mb-4" th:inline="text">Hello </h1>

            <p class="text-center lead">Изучайте новые предметы и развивайтесь с нашими онлайн курсами.</p>
        </div>
    </section>

    <section class="bg-light py-5">
        <div class="container">
            <h2 class="text-center mb-4">Наши курсы</h2>
            <div class="row">

                <div class="col-md-4 mb-4" th:each="course : ${courses}">
                    <div class="card">
                        <img src="course1.jpg" class="card-img-top" alt="Курс изображение">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${course.title}">Курс</h5>
                            <p class="card-text" th:text="${course.description}">Описание курса.</p>
                            <a th:href="@{/courses/{id}(id=${course.id})}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
