<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineEd - Профиль Учителя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<!-- Главный контент -->
<main>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="teacher-avatar.jpg" alt="Avatar" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                            <h4 class="card-title" th:text="${user.name + user.surname}"></h4>
                            <p class="card-text">Преподаватель</p>
                            <a th:href="@{/messages}" class="btn btn-primary btn-block">Сообщения</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <a th:href="@{/create_course}" class="btn btn-primary btn-block">Создать курс</a>
                    <h2 class="mb-4">Мои Курсы</h2>
                    <div class="list-group" th:each="course : ${enrolledCourses}">
                        <a th:href="@{/courses/{id}(id=${course.id})}" class="list-group-item list-group-item-action" th:text="${course.title}">
                        </a>
                        <a type="button" class="btn btn-primary btn-sm" th:href="@{/edit_course/{id}(id=${course.id})}">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>